DATABASE_URL="postgresql://laos_admin:laos_dev_password@localhost:5432/laos_clone?schema=public"

PORT=4000

JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me"
# Saniye cinsinden: 900 = 15 dakika, 2592000 = 30 gün
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=2592000
